header{

  background-color: rgb(198, 204, 203);
}

nav{
  display :flex;
  align-items:center;
  justify-content: space-between;
 
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
}
.logo{
    
    max-width: 115px;
  }
 
  ul li{
  text-transform: uppercase;
}
.header .logo img{
  
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
  
    transform: scale(1.2);
}

.header .boton_vista button{
    align-items: center;
    color: #1b3039;
    padding: 9px 12px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header{
  padding: 5px 2%;
  display: flex;
  justify-content: space-between;
}
.eye{
  
  align-items: center;
  height: 24px;
  width: auto;
  transition: all 0.3s;
}
.header .boton_vista button:hover{
    background-color: #5a666c;
    transform: scale(1.1);
}