
  header {
    position: fixed;
    align-items: center;
    width: 100%;
    height: var(--heading-height);
    top: 0;
    padding: 10px 20px;
    background-color: rgb(57, 110, 216);
    border: 2px solid #484dc7;
    background-size: cover
    
    
  }
  .logo{
    width: 20%;
  }