
  nav{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    
  }
  .logo{
    width: 45%;
    padding-left: 5%;
  }
  .textos{
    font-weight: bold;
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
  }