<p>card-person works!</p>


<div class="card-person" [ngClass]="{'show': mostrarTarjeta}" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
    <div class="img">
        <img [src]=usuarioRecibido.fotografia_url [alt]=usuarioRecibido.nombre_completo>
    </div>
    <div class="nombre">
        <p>{{usuarioRecibido.nombre_completo}}</p>
    </div>
    <div class="edad">
        <p>{{usuarioRecibido.edad}}</p>
    </div>
    <div class="description">
        <p>{{usuarioRecibido.description}}</p>
    </div>
</div>
