

<div class="form-person">
    <div class="field">
        <label >
            url_foto:
            <input [(ngModel)]="usuario.fotografia_url" type="text">

        </label>
    </div>
    <div class="field">
        <label >
            nombre:
            <input [(ngModel)]="usuario.nombre_completo" type="text">
        </label>
    </div>
    <div class="field">
        <label >
            edad:
            <input [(ngModel)]="usuario.edad" type="number" >

        </label>
    </div>
    <div class="field">
        <label >
            breve descripción:
            <textarea [(ngModel)]="usuario.description" name="" id="" cols="30" rows="2" ></textarea>
        </label>
    </div>

    <button (click)="anyadir_usuario(usuario)">ENVIAR</button>
</div>
