.form-person {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="number"] {
    width: calc(100% - 20px); /* Considerando el espacio del control de número */
  }
  
  input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  button {
    display: block;
   margin: 0 auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  button:hover {
    background-color: #45a049;
    display: inline-block;
   width: 200px;
   margin: 0 auto;
  }
  