<p>form-person works!</p>

<div class="form-person">
    <div class="field">
        <label >
            url_foto:
            <input type="text">

        </label>
    </div>
    <div class="field">
        <label >
            nombre:
            <input type="text">
        </label>
    </div>
    <div class="field">
        <label >
            edad:
            <input type="number" >

        </label>
    </div>
    <div class="field">
        <label >
            breve descripción:
            <textarea name="" id="" cols="30" rows="2"></textarea>
        </label>
    </div>

    <button>ENVIAR</button>
</div>
