.container-user{
   margin-top: 2.5rem;
    display: flex;
    justify-content:space-around;
    gap: 2rem;
    flex-wrap: wrap;
    
}

.form-user {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}