<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="assets/cac.png">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>ACERCA DE</h2>
            <p>Inversores</p>
            <p>Accesorios</p>
            <p>Novedades</p>
            <p>Trabaja con nosotros</p>
            <p>Ayuda</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/RealMadrid/?locale=es_ES"><img src="assets/facebook_logo.png"class="fa-facebook"></a>
                <a href="https://www.instagram.com/realmadrid/"><img class="fa-instagram" src="assets/instagram_logo.png"></a>
                <a href="https://twitter.com/realmadrid?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="assets/twitter_logo.png"class="fa-twitter"></a>
                <a href="https://www.youtube.com/channel/UCWV3obpZVGgJ3j9FVhEjF2Q"><img src="assets/youtube_logo.png"class="fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>CAC</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>